*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

target/

# Package Files #
*.jar
*.war
*.ear

#IntelliJ
.idea
mySandboxApp.iml

# eclipse project file
.settings/
.classpath
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
